<footer>
	<div class="container footer-nav-block">
		<div class="footer-content">
			<nav id="footer-nav">
				<ul>
		      <li><a href="">About</a></li> |
		      <li><a href="">Return Policy</a></li> |
		      <li><a href="">Terms of Service</a></li> |
		      <li><a href="">Financing Options</a></li> |
		      <li><a href="">Shipping Details</a> |
		      <li><a href="">Contact Support</a></li>
		    </ul>
		  </nav>
		    <p class="copyright-block">&copy; 2015 <strong>Harmony Music Inc.</strong> | 
		     	<span class="social-icons">
		     		<!-- <a href="#"><i class="fa fa-google-plus"></i></a> -->
		     		<a href="#"><i> <%= image_tag 'googleplus.svg', :class=> 'googleplus' %> </i></a>
		     		<!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
		     		<a href="#"><i> <%= image_tag 'twitter.svg', :class=> 'twitter' %> </i></a>
		     		<!-- <a href="#"><i class="fa fa-facebook-square"></i></a> -->
		     		<a href="#"><i> <%= image_tag 'facebook.svg', :class=> 'facebook' %> </i></a>
		     	</span>
		    </p>
		 </div>
	</div>
</footer>