<div class="main-nav">
	<div class="container"> 
		<nav id="cbp-hrmenu" class="cbp-hrmenu">
			<ul>
				<li>
					<a href="#">Woodwinds</a>
					<div class="cbp-hrsub">
						<div class="container cbp-hrsub-inner"> 
							<div>
								<ul id="treble-clef"><%= image_tag 'TrebleClef.png' %></ul>
							</div>
							<div>
								<h4>Woodwinds</h4>
								<ul>
									<!-- <li><a href="#">Saxophones</a></li> -->
									<li><%= link_to 'Saxophones', '/saxophones.html' %></li>
									<li><a href="#">Clarinets</a></li>
									<li><a href="#">Flutes</a></li>
									<li><a href="#">Bassoons</a></li>
									<li><a href="#">Oboes</a></li>
									<li><a href="#">Recorders</a></li>
								</ul>
							</div>
							<div>
								<h4>Accessories</h4>
								<ul>
									<li><a href="#">Mouthpieces</a></li>
									<li><a href="#">Reeds</a></li>
									<li><a href="#">Straps & Supports</a></li>
									<li><a href="#">Cleaning & Repair Kits</a></li>
									<li><a href="#">Instrument Stands</a></li>
									<li><a href="#">Cases & Gig Bags</a></li>
								</ul>
							</div>
							<div>
								<h4>Staff Picks</h4>
								<ul>
									<li><a href="#">New & Featured</a></li>
									<li><a href="#">Used & Vintage</a></li>
									<li><a href="#">Artist Endorsed</a></li>
									<li><a href="#">Selmer Paris</a></li>
									<li><a href="#">Buffet Crampon</a></li>
									<li><a href="#">Yamaha</a></li>
								</ul>
							</div>
						<div>
								<ul id="sax-art"><%= image_tag 'SaxophoneArt.png' %></ul>
						</div>
						</div><!-- /cbp-hrsub-inner -->
					</div><!-- /cbp-hrsub -->
				</li>
				<li>
					<a href="#">Brass</a>
				</li>
				<li>
					<a href="#">Strings</a>
				</li>
				<li>
					<a href="#">Guitars</a>
				</li>
				<li>
					<a href="#">Bass Guitars</a>
				</li>
				<li>
					<a href="#">Amps & Effects</a>
				</li>
				<li>
					<a href="#">Drums</a>
				</li>
				<li>
					<a href="#">Keyboards</a>
				</li>
				<li>
					<a href="#">Accessories</a>
				</li>
			</ul>
		</nav>
	</div> 
</div> <!-- main nav -->