<div class="top-bar">
	<nav class="container">
		<div class="top-bar-content-left">
			<% link_to '/index.html' do %>
         <%= image_tag 'harmonymusic_logo.png' %>
      <% end %>
			</a>
			<ul>
				<li> 
					<form>
						<input type="text" value="Search for instruments and gear">
					</form> 
				</li> 
				<li>
					<i class="fa fa-search"></i>
				</li>
			</ul> 
		</div> <!-- top bar content left -->
		<i class="cd-btn fa fa-bars"></i>
		<div class="top-bar-content-right">
			<ul>
				<li><a href="#">News & Reviews</a></li>
				<li><a href="#">My Account</a></li>
				<li><a href="#">Shopping Cart<i class="fa fa-shopping-cart"></i> (0)</a></li>
			</ul>
		</div> <!-- top bar content right -->
	</nav>
</div> <!-- top bar -->