<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Harmony Music</title>
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<!-- CSS -->
		<link rel="stylesheet" href="stylesheets/font-awesome.css">
		<link rel="stylesheet" href="stylesheets/col.css">
		<link rel="stylesheet" href="stylesheets/2cols.css">
		<link rel="stylesheet" href="stylesheets/3cols.css">
		<link rel="stylesheet" href="stylesheets/4cols.css">
		<link rel="stylesheet" href="stylesheets/5cols.css">
		<link rel="stylesheet" href="stylesheets/6cols.css">
		<link rel="stylesheet" href="stylesheets/7cols.css">
		<link rel="stylesheet" href="stylesheets/8cols.css">
		<link rel="stylesheet" href="stylesheets/9cols.css">
		<link rel="stylesheet" href="stylesheets/10cols.css">
		<link rel="stylesheet" href="stylesheets/11cols.css">
		<link rel="stylesheet" href="stylesheets/12cols.css">
		<link rel="stylesheet" href="stylesheets/style.css">
		<link rel="stylesheet" href="stylesheets/component.css">
		<link rel="stylesheet" href="stylesheets/slider-panel.css">
		<link rel="stylesheet" href="stylesheets/slider-panel-dropdown-menu.css">
		<script src="js/modernizr.custom.js"></script>
</head>