---
title: Welcome to Middleman
---
<!-- Top Sale Items -->
<section class="top-sale-items">
  <div class="container">
    <div class="hero-mosaic">
      <div class="section group">
        <div class="col span_2_of_3">
          <% link_to '/sale-items.html' do %>
            <%= image_tag 'AmazingDeals.jpg' %>
          <% end %>
        </div>
        <div class="col span_1_of_3">
          <img src="images/spotlight.jpg">
        </div>
      </div>
      <div class="section group">
        <div class="col span_1_of_3">
          <img src="images/newarrivals.jpg">
        </div>
        <div class="col span_1_of_3">
          <img src="images/rarefinds.jpg">
        </div>
        <div class="col span_1_of_3">
          <img src="images/casesaccessories.jpg">
        </div>
      </div>
    </div> <!-- hero mosaic -->
  </div>
</section>

<!-- Benefits -->
<section class="benefits">
  <div class="container">
    <ul>
      <li class="col span_1_of_4">
        <i class="fa fa-truck"></i>
        <h2>Free Shipping</h2>
        <p>Free standard ground shipping on all orders within the United States. 
          Some exclusions & limitations apply. 
          Learn more.</p>
      </li>
      <li class="col span_1_of_4">
        <i class="fa fa-credit-card"></i>
        <h2>Available Financing</h2>
        <p>Access to exclusive special financing offers and deals. Get the gear you 
          need right away. Pay over time. Learn more.</p>
      </li>
      <li class="col span_1_of_4">
        <i class="fa fa-refresh"></i>
        <h2>30 Day Returns</h2>
        <p>Not fully satisfied? Return your purchase within 30 days. No questions asked. No problems. No hassles. Learn more.</p>
      </li>
      <li class="col span_1_of_4">
        <i class="fa fa-dollar"></i>
        <h2>Pricing Guarantee</h2>
        <p>We’ll match any verified price from any authorized dealer for the identical new item up to 30 days from purchase. Learn more.</p>
      </li>
    </ul>
  </div>
</section>

<!-- Featured Items -->
<section class="featured-items-title">
  <div class="container">
    <div id="featured-items-heading">
      <li class="col span_1_of_4">
        <h2>Featured Items</h2>
      </li>
      <li class="col span_3_of_4">
        <hr>
      </li>
    </div>
  </div>
</section> <!-- featured items title -->
<section class="featured-items-mosaic">
  <div class="container">
      <li class="col span_1_of_4">
      <% link_to '/item-detail.html' do %>
        <%= image_tag 'SelmerReference54-262.jpg' %>
      <% end %>
      </li>
      <li class="col span_1_of_4">
        <img src="images/mark6baritone.jpg">
      </li>
      <li class="col span_1_of_4">
        <img src="images/marshallamp.jpg">
      </li>
      <li class="col span_1_of_4">
        <img src="images/trumpet.jpg">
  </div>
  <div class="container">
      <li class="col span_1_of_4">
        <img src="images/violin.jpg">
      </li>
      <li class="col span_1_of_4">
        <img src="images/fenderrhodes.jpg">
      </li>
      <li class="col span_1_of_4">
        <img src="images/voxtonelab.jpg">
      </li>
      <li class="col span_1_of_4">
        <img src="images/clarinet.jpg">
  </div>
</section> <!-- featured items mosaic -->

<!-- About -->
<section class="about">
  <div class="container">
    <div id="about-heading">
      <li class="col span_2_of_4">
        <h2>About Harmony Music</h2>
        <p>Welcome to Harmony Music, your destination for top quality new, used and vintage musical instruments and accessories. We offer free shipping on nearly all orders within the US. Find a lower price? No problem. We’ll match it. Not fully satisfied with your purchase? Return it within 30 days, no questions asked. We also offer special financing options to allow you to get the gear you need, when you need it.</p>
      </li>
      <li class="col span_2_of_4">
        <div class="testimonial">
          <p>
            <i>"I found the most amazing vintage drum kit at Harmony Music. The price was great, and the service was amazing! The drums sound unbelievable! I’ll definitely be on the lookout for more great deals. Thanks Harmony Music!"</i>
          </p>
          <div id="avatar">
            <img src="images/avatar.png">
            <p>Tom J. - Boston, MA</p>
          </div>
        </div> <!-- testimonial -->
      </li>
    </div> <!-- about heading -->
  </div>
</section> <!-- about -->
