<section class="top-sale-items">
	<div class="container">
		<div class="hero-mosaic">
			<div class="section group">
				<div class="item-detail col span_2_of_3">
					<h1 class="item-detail-title"> Selmer Paris Reference 54 Alto Saxophone</h1>
					<p id="return-nav"><a href="#">Return to search</a> > <a href="#">Saxophones</a> >  <a href="#">Home</a></p>
					<img src="images/SelmerReference54.jpg">
					<!-- Price Box -->
				<div class="price-box-mobile-device-layout">
					<div id="price-box-top-row">
						<ul>
							<li id="price-box-price-large">$6789</li>
						</ul>
						<ul>
							<li id="price-box-price-small">.00</li>
						</ul>
						<ul>
							<li id="price-box-free-shipping">Free<br> Shipping</li>
						</ul>
					</div> <!-- price box top row -->
					<div id="price-box-second-row">
						<p>Plus tax</p>
					</div> <!-- price box second row -->
					<div id="price-box-reviews-row">
						<div id="review-stars">
							<img src="images/goldstar.png">
							<img src="images/goldstar.png">
							<img src="images/goldstar.png">
							<img src="images/goldstar.png">
							<img src="images/whitestar.png">
						</div>
						<p id="add-review-text-larger-screens">(15) | <a href="#">Add a Review</a></p>
						<p id="review-amount"><a href="#">(15)</a></p> 
					</div> <!-- price box reviews row -->
					<div id="add-review-text-smaller-screens">
					<p><a href="#">Add a Review</a></p>
					</div>
					<div id="btn-add-to-cart">
						<a href="#" class="btn">Add to Cart</a>   
					</div>
					<div id="btn-add-to-wish-list">
						<a href="#" class="btn">Add to Wish List</a>   
					</div>
					<div id="price-box-bottom-row">
						<ul>
							<li>Share</li>
						</ul>
						<ul>
							<i class="fa fa-envelope"></i>
						</ul>
						<ul>
							<i class="fa fa-facebook-official"></i>
						</ul>
						<ul>
							<i class="fa fa-twitter"></i>
						</ul>
						<ul>
							<i class="fa fa-pinterest-square"></i>
						</ul>
					</div> <!-- price box bottom row -->
				</div> <!-- price box mobile device layout -->
					<p class="item-description-text">Acoustics, ergonomic features, and aesthetics recall the spirit of this famous model. The Reference 54 offers a rich tone color, very centered tuning balance, precise keywork, comfortable handling, and a specific finish with a fine engraving and dark lacquer. This classic stands out with its great ease of playing, flexibility and power. Achieve new levels of maximum musical expressiveness with the Reference 54.
					</p>
					<p class="item-description-text">
					Selmer Paris now applies the “Reference” concept to the alto saxophone. A strong personality for an instrument of modern design and making, in which each musician will find the legendary Mark VI feeling. The Selmer Reference 54, where classic history meets modern design.
					</p>
					<div id="item-details-list-data">
						<ul>
							<li>Type: Alto Saxophone</li>
							<li>Make: Selmer Paris</li>
							<li>Model: Reference 54</li>
							<li>Body Material: Brass - Brushed Finish</li>
							<li>Body Construction: Ribbed Body Construction</li>
							<li>Made In: France</li>
							<li>Case: Contoured Case</li>
						</ul>
					</div>
					<h2>Customer Reviews</h2>
					<hr>
					<div id="review-stars-and-title" class="review-stars-and-title">
						<ul>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li id="review-title">Great horn! Love the sound!</li>
						</ul>
					</div>
					<div id="review-text">
					<p>By: <span id="reviewer-name">Joe Sax</span> on July 15, 2015</p>
					<p>The sound is huge and it is really smooth in all registers! I thought that I’d never find something that matches my old Mark VI, but this horn certainly hits the mark.</p>
					</div>
					<div id="review-stars-and-title" class="review-stars-and-title">
						<ul>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li id="review-title">Great horn! Love the sound!</li>
						</ul>
					</div>
					<div id="review-text">
					<p>By: <span id="reviewer-name">Joe Sax</span> on July 15, 2015</p>
					<p>The sound is huge and it is really smooth in all registers! I thought that I’d never find something that matches my old Mark VI, but this horn certainly hits the mark.</p>
					</div>
					<div id="review-stars-and-title" class="review-stars-and-title">
						<ul>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li id="review-title">Great horn! Love the sound!</li>
						</ul>
					</div>
					<div id="review-text">
					<p>By: <span id="reviewer-name">Joe Sax</span> on July 15, 2015</p>
					<p>The sound is huge and it is really smooth in all registers! I thought that I’d never find something that matches my old Mark VI, but this horn certainly hits the mark.</p>
					</div>
					<div id="review-stars-and-title" class="review-stars-and-title">
						<ul>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li id="review-title">Great horn! Love the sound!</li>
						</ul>
					</div>
					<div id="review-text">
					<p>By: <span id="reviewer-name">Joe Sax</span> on July 15, 2015</p>
					<p>The sound is huge and it is really smooth in all registers! I thought that I’d never find something that matches my old Mark VI, but this horn certainly hits the mark.</p>
					</div>
					<div id="review-stars-and-title" class="review-stars-and-title">
						<ul>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li><img src="images/goldstar.png"></li>
							<li id="review-title">Great horn! Love the sound!</li>
						</ul>
					</div>
					<div id="review-text">
					<p>By: <span id="reviewer-name">Joe Sax</span> on July 15, 2015</p>
					<p>The sound is huge and it is really smooth in all registers! I thought that I’d never find something that matches my old Mark VI, but this horn certainly hits the mark.</p>
					</div>
				</div> <!-- span 2 of 3 -->

<!-- Price Box -->
			<div class="col span_1_of_3">
				<div class="price-box">
					<div id="price-box-top-row">
						<ul>
							<li id="price-box-price-large">$6789</li>
						</ul>
						<ul>
							<li id="price-box-price-small">.00</li>
						</ul>
						<ul>
							<li id="price-box-free-shipping">Free<br> Shipping</li>
						</ul>
					</div> <!-- price box top row -->
					<div id="price-box-second-row">
						<p>Plus tax</p>
					</div> <!-- price box second row -->
					<div id="price-box-reviews-row">
						<div id="review-stars">
							<img src="images/goldstar.png">
							<img src="images/goldstar.png">
							<img src="images/goldstar.png">
							<img src="images/goldstar.png">
							<img src="images/whitestar.png">
						</div>
						<p id="add-review-text-larger-screens">(15) | <a href="#">Add a Review</a></p>
						<p id="review-amount"><a href="#">(15)</a></p> 
					</div> <!-- price box reviews row -->
					<div id="add-review-text-smaller-screens">
					<p><a href="#">Add a Review</a></p>
					</div>
					<div id="btn-add-to-cart">
						<a href="#" class="btn">Add to Cart</a>   
					</div>
					<div id="btn-add-to-wish-list">
						<a href="#" class="btn">Add to Wish List</a>   
					</div>
					<div id="price-box-bottom-row">
						<ul>
							<li>Share</li>
						</ul>
						<ul>
							<i class="fa fa-envelope"></i>
						</ul>
						<ul>
							<i class="fa fa-facebook-official"></i>
						</ul>
						<ul>
							<i class="fa fa-twitter"></i>
						</ul>
						<ul>
							<i class="fa fa-pinterest-square"></i>
						</ul>
					</div> <!-- price box bottom row -->
				</div> <!-- price box -->
				<div class="other-sale-items">
<!-- Suggested Items -->
				<h2>You may also consider</h2>
			<div id="suggested-items-mosaic-regular">
				<div>
					<li class="col span_3_of_6">
						<img src="images/connaltosax.jpg">
					</li>
					<li class="col span_3_of_6">
						<img src="images/yamahasilveralto.jpg">
					</li>
				</div> 
				<div>
					<li class="col span_3_of_6">
						<img src="images/selmer1929.jpg">
					</li>
					<li class="col span_3_of_6">
						<img src="images/kingsuper20.jpg">
					</li>
				</div> 
			</div>
		</div> <!-- Other Sale Items -->
	</div> <!-- col span 1 of 3 -->
</section>

<!-- Associated Accessories -->
<section class="benefits" id="associated-accessories">
	<div class="container">
		<h2>Associated Accessories</h2>
		<hr>
		<ul>
			<li class="col span_1_of_6">
				<img src="images/neckstrap.jpg">
			</li>
			<li class="col span_1_of_6">
				<img src="images/saxstand.jpg">
			</li>
			<li class="col span_1_of_6">
				<img src="images/reeds.jpg">
			</li>
			<li class="col span_1_of_6">
				<img src="images/meyermouthpiece.jpg">
			</li>
			<li class="col span_1_of_6">
				<img src="images/cleaningkit.jpg">
			</li>
			<li class="col span_1_of_6">
				<img src="images/corkgrease.jpg">
			</li>
		</ul>
	</div> <!-- Container -->
</section>

