<section class="top-sale-items">
	<div class="container">
		<div class="hero-mosaic">
			<div class="section group">
				<div class="col span_1_of_4">
					<div class="accordion-menu">
						<h2>Saxophones</h2>
							<ul id="accordion" class="accordion">
							  <li>
							    <div class="link">Types<i class="fa fa-chevron-down"></i></div>
							    <ul class="submenu">
							      <li><a href="#">Soprano (10)</a></li>
							      <li><a href="#">Alto (23)</a></li>
							      <li><a href="#">Tenor (17)</a></li>
							      <li><a href="#">Baritone (6)</a></li>
							    </ul>
							  </li>
							  <li>
							    <div class="link">Brands<i class="fa fa-chevron-down"></i></div>
							    <ul class="submenu">
							      <li><a href="#">Selmer (12)</a></li>
							      <li><a href="#">Yamaha (18)</a></li>
							      <li><a href="#">Yanagisawa (4)</a></li>
							      <li><a href="#">Conn (5)</a></li>
							      <li><a href="#">Keilworth (11)</a></li>
							      <li><a href="#">King (2)</a></li>
							      <li><a href="#">P Mauriat (14)</a></li>
							    </ul>
							  </li>
							  <li>
							    <div class="link">Price<i class="fa fa-chevron-down"></i></div>
							    <ul class="submenu">
							      <li><a href="#">$7500+ (4)</a></li>
							      <li><a href="#">$5000 - $7499 (14)</a></li>
							      <li><a href="#">$2500 - $4990 (12)</a></li>
							      <li><a href="#">$1000 - $2499 (17)</a></li>
							      <li><a href="#">Under $1000 (9)</a></li>
							    </ul>
							  </li>
							</ul>
					</div> 
				</div> <!-- span 1 of 4 -->

 			<div id="instrument-type-mosaic" class="col span_3_of_4">		
				<a href="item-detail.html"><img src="images/SelmerReference54-262.jpg" class="col span_1_of_3"></a>
				<img src="images/SelmerReference54-262a.jpg" class="col span_1_of_3">
				<img src="images/yamaha-yss62.jpg" class="col span_1_of_3">
				<img src="images/kingsuper20b.jpg" class="col span_1_of_3">
				<img src="images/yanagisawatenor.jpg" class="col span_1_of_3">
				<img src="images/selmer1929b.jpg" class="col span_1_of_3">
				<img src="images/yanagisawasoprano.jpg" class="col span_1_of_3">
				<img src="images/connaltosax2.jpg" class="col span_1_of_3">
				<img src="images/yamaha62bari.jpg" class="col span_1_of_3">
				<img src="images/mark6baritone2.jpg" class="col span_1_of_3">
				<img src="images/mark6alto.jpg" class="col span_1_of_3">
				<img src="images/yamahapro62.jpg" class="col span_1_of_3">
			</div>

			</div>
		</div>
	</div>
</section>



